@font-face {
    font-family: fontGame;
    src: url("../../public/GameXucXac/GameXucXac/Pony.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg_game {
    font-family: fontGame;
    background-image: url("../../public/GameXucXac/GameXucXac/bgGame.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
}

@media (max-width: 991.98px) {
    .btn-danger {
        padding: 60px !important;
    }

    .btn-dark {
        padding: 60px !important;
    }
}

@media (max-width: 767.98px) {
    .btn-danger {
        padding: 45px !important;
    }

    .btn-dark {
        padding: 45px !important;
    }

    .title-game {
        font-size: 60px !important;
    }
}

@media (max-width: 575.98px) {
    .btn-danger {
        padding: 30px !important;
    }

    .btn-dark {
        padding: 30px !important;
    }

    .title-game {
        font-size: 45px !important;
    }
}